html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    margin-top: 50px;
}

body {
    display: table-cell;
}

h3 {
	text-align: center;
}

table {
	
	margin-top: 50px;
	margin-bottom: 50px;
	
}

.t {
  	text-align: center;
  	border-collapse: collapse;
}

.t table {
	width: 694px;
}

.t table, .t th, .t td {
	
   border: 2px white solid;
} 

.t tr:nth-child(even) {
	background-color: #E8E8E8;

}


.t th {
    background-color: #C8C8C8;
    color: black;
}
